ol, ul, li { list-style:none; padding:0; margin:0; }
p, h3 { padding:0; margin:0; }

a:link { color: #444; text-decoration:none; }
a:visited { color: #444; }
a:hover { background: #333; color:#86ade2; }
a:active { background: #333; color:#86ade2; }

body {
    background:##F6F6F6;
    margin:0;
    font-size:14px;
    color:#8c8c8c;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

header {
    height:50px;
    background:#444;
    zoom:1;
    width:100%;
}

header h3 {
    float:left;
    width:200px;
    font-size:36px;
    margin-left:20px;
    color:#f47b20;
    text-shadow:1px 1px #ccc;
}
nav {
    width:1004px;
    line-height:30px;
    height:50px;
    zoom:1;
    color:#fff;
    float:left;
}
nav a { 
    text-decoration:none; 
    float:left; 
    margin:5px 0 5px 10px; 
    padding:5px 10px;
    color: #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    border-radius:5px;

}

nav a:link{ color: #fff; }
nav a:visited{ color: #fff; }
nav a:hover{ color: #333; background: #f2f2f2; }
nav a:active{ color: #333; background: #f2f2f2; }

footer {
    background:#333;
    zoom:1;
    width:100%;
    color:#fff;
    font-size:11px;
    margin-top:40px;
}
footer p{ padding:15px 10px; }

.main {}
