ol, ul, li { list-style:none; padding:0; margin:0; }
p { padding:0; margin:0; }

a:link { color: #444; text-decoration:none; }
a:visited { color: #444; }
a:hover { background: #333; color:#86ade2; }
a:active { background: #333; color:#86ade2; }

body {
    background:#f2f2f2;
    margin:0;
    font-size:14px;
    color:#8c8c8c;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}

header {
    height:50px;
    background:#333;
    zoom:1;
    width:100%;
}

nav {
    width:1004px;
    line-height:30px;
    height:50px;
    zoom:1;
    color:#fff;
}
nav a { 
    text-decoration:none; 
    float:left; 
    margin:5px 0 5px 10px; 
    padding:5px 10px;
    color: #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    border-radius:5px;

}

nav a:link{ color: #fff; }
nav a:visited{ color: #fff; }
nav a:hover{ color: #333; background: #f2f2f2; }
nav a:active{ color: #333; background: #f2f2f2; }

footer {
    background:#333;
    zoom:1;
    width:100%;
    color:#fff;
    font-size:11px;
    margin-top:40px;
}
footer p{ padding:15px 10px; }

.main {}
.subhead { overflow: auto; zoom:1; margin-left:40px; }
.subtitle { margin-top:40px; float:left; width:480px; }
.subtitle p { color:#8c8c8c; line-height:24px; margin:15px 0;}
.subtitle img { -webkit-user-select: none; -moz-user-select: none; }

.subside { float:left; width:400px; padding-top:140px; margin-left:70px; }
.gitbtn { margin:0 0 0 40px;}

.downbtn {
    margin-bottom:20px;
    font-weight:700;
    display:block; 
    text-align:center;
    width:200px;
    height:50px;
    line-height:50px;
    text-decoration:none;
    border-radius:5px;
    -moz-border-radius:5px;
    cursor:pointer;
    text-align:center;
    font-size:16px;
    color: #f2f2f2;
    border: 3px solid #9ac1f1;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    background: #1e5aa9;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e5aa9), to(#0b3670));
    background-image: -moz-linear-gradient(top,  #1e5aa9,  #0b3670);
}
.downbtn:link {
    color: #f2f2f2;
}
.downbtn:active {
    background: #07254e;
    color: #f2f2f2;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#07254e), to(#144c97));
    background-image: -moz-linear-gradient(top,  #07254e,  #144c97);
}
.downbtn:hover {
    background: #144c97;
    color: #f2f2f2;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#144c97), to(#07254e));
    background-image: -moz-linear-gradient(top,  #144c97,  #07254e);
}



h3 {
    line-height: 22px;
    height: 22px;
    margin: 35px 0 20px 0;
    padding:5px;
    color: #8c8c8c;
    font-size:16px;
    background:#ededed;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -border-radius:5px;
    box-shadow:2px 2px #ccc;
}

.content {
    margin:50px 0 0 40px;
    width:960px;
    color: #8c8c8c;
    zoom:1;
    _margin-top:5px;
    line-height:24px;
}


.content p { margin-bottom:5px; margin-left:10px; }
.content ol, .content ul { margin-left:20px; }
.content ol li { list-style-type:decimal; list-style-position: inside; }

.content-wrap {
    border-top: 1px solid #dddddd;
    background:#f6f6f6;
    background-image: -moz-linear-gradient(top, #ededed, #ededed 0px, #f6f6f6 12px);   
    background-image: -webkit-gradient(linear,0 0,0 12,from(#ededed),to(#f6f6f6)); 
    zoom:1;
}

::selection {
    background:#366ab0;
    color:#fff;
}

.esui-table {margin-left:20px;margin-top:20px;background:#aaa;}
.esui-table td{padding:3px;background:#efefef;width:80px;}
.esui-table .esui-name {width:150px;}
